<!DOCTYPE html>
<html lang="en">
<head>
    <style src="../styles.css"></style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Meet Online</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script src="socket.io/socket.io.js" defer></script>
</head>

<body style="background-image: url('/welcome-Img.jpg'); background-size: cover; color: aliceblue;">
    <h1 style="text-align: center; font: italic small-caps bold 40px/2 cursive;">Create and Join Meetings with us!</h1>

    <button id="create-button" onclick="location.href = 'create';" style="float: right; margin: 38rem 1rem 1rem 0px;" type="button" class="btn btn-primary">Create Meeting</button>
    <button id="join-button" style="float: right; margin: 38rem 1rem 1rem 0px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Join Meeting</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color: black;" id="exampleModalCenterTitle">Enter existing room or meeting Nickname</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="color: black;">
                Room Link <input id="room-link" type="text">
            </div>

            <script>
                var roomId;
                var roomLink = document.getElementById('room-link');;
        
                function joinRoomWithId(){                    //take input of existing room id or nickname
                    roomId = roomLink.value;
                    roomLink.value = "";
                    window.location=`./${roomId}`;
                }
            </script>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="joinRoomWithId()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal for input link -->
</body>
</html>